{% extends 'base.html.twig' %}

{% block body %}
    <section class="section">
        <div class="container">
            <table class="table is-striped table is-fullwidth">
                <thead>
                <tr>
                    <td>Label</td>
                    <td>Configuration (Property Access)</td>
                    <td>Configuration (Raw)</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr title="{{ task.id }}">
                        <td>
                            <p>{{ task.task }}</p>
                            <p><span class="tag">Due: {{ task.dueDate|date }}</span></p>
                        </td>
                        <td>
                            <p>Parameter1: <span class="tag">{{ attribute(task, 'configurationParameter', ['[parameter1]']) ?: 'not set' }}</span></p>
                            <p>Parameter2: <span class="tag">{{ attribute(task, 'configurationParameter', ['[parameter2]']) ?: 'not set' }}</span></p>
                            <p>Parameter3 (first child): <span class="tag">{{ attribute(task, 'configurationParameter', ['[parameter3][firstchild]']) ?: 'not set' }}</span></p>
                            <p>Parameter3 (second child): <span class="tag">{{ attribute(task, 'configurationParameter', ['[parameter3][secondchild]']) ?: 'not set' }}</span></p>
                        </td>
                        <td>
                            <pre>{{ task.configuration|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                        </td>
                        <td>
                            <a class="button is-secondary" href="{{ path('task_edit_get', {'id': task.id}) }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
